.Logo{
  color: #060225 !important;
  font-family: "Helvetica Neue";
  font-size: 25px;
}
.Nav{
  text-align: center;
}

.NavigationText{
  color: whitesmoke;
  text-shadow: black;
}

.GoogleMap{
  height: 200px;
  width: 100px;
}