.Logo{
  color: #060225 !important;
  font-family: "Helvetica Neue";
  font-size: 25px;
  margin-left: 500px !important;
}
.Nav{
  text-align: center;
}

.NavigationText{
  color: whitesmoke;
  text-shadow: black;
}